# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
*.lock

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/engine
ios/Flutter/flutter_assets
ios/ServiceDefinitions.json

# macOS
macos/Flutter/ephemeral/

# Android
android/.gradle/
android/captures/
android/app/debug/
android/app/profile/
android/app/release/

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# System
.DS_Store
Thumbs.db

# Log
*.log

# Khác
TremoNameDoc/ 